{% extends "layout1.html" %}

{% block content %}
{% from "_macros.html" import render_field %}
<div class="container-fluid">
    <br>
    <div class="row">
        <h1 class="text-center">Actualizar Producto</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <form class="form-horizontal" method="POST" action="./actualizar" enctype="multipart/form-data">
                {{ user_form.csrf_token }}
                <input type="hidden" value="{{ csrf_token }})">
                {% for i in res %}
                <div class="container">
                    <div class="form-group row ">
                        <div class="col-sm-1-12">
                            <input value="{{i.id_producto}}" type="hidden" name="id">
                            <div style="text-align: center;">
                                <img class="img-fluid" src="data:mimetype;base64,{{i.imagen}}" width="200" height="auto"
                                    alt="Imagen Producto" />
                            </div>
                            <label class="form-label">Nombre</label>
                            <input class="form-control" value="{{i.nombre}}" type="text" name="nombre"
                                placeholder="Nombre" autofocus="">
                            <br>
                            <label class="form-label">Cantidad</label>
                            <input class="form-control" value="{{i.cantidad}}" name="cantidad" type="float"
                                placeholder="Cantidad" autofocus="">
                            <br>
                            <label class="form-label">Precio</label>
                            <input class="form-control" value="{{i.precio}}" name="precio" type="float"
                                placeholder="Precio" autofocus="">
                            <br>
                            <label class="form-label">Descripcion</label>
                            <input class="form-control" value="{{i.descripccion}}" name="descripcion" type="text"
                                placeholder="Descripcion" autofocus="">
                            <br>
                            {{render_field(user_form.receta, class="form-control")}}
                            <br>
                            <label class="form-label">Imagen</label>
                            <input class="form-control" type="file" name="img" placeholder="Imagen">
                            <br>
                            <div class="form-group row">
                                <div class="col-sm-1-12 text-end">
                                    <input type="submit" class="btn btn-success" value="Actualizar">
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
                {% endfor%}
            </form>
        </div>
    </div>
</div>
{% endblock %}