{% extends 'layout1.html' %}

{% block content %}
{% from "_macros.html" import render_field %}
<div class="container">
    <div class="row">
        <div class="px-3 py-2 border-bottom mb-3">
            <div class="container d-flex flex-wrap justify-content-center">
                <div class="col-2 align-self-center">
                    <form method="POST" action="./cargarTabla">
                        {{ user_form.csrf_token }}
                        <input type="hidden" value="{{ csrf_token }})">
                        <div class="row">
                            <div class="col-12">
                                <input type="search" class="form-control" placeholder="Busqueda" aria-label="Search"
                                    name="busqueda">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-8 align-self-center text-center">
                    <h1>Productos</h1>
                </div>
                <div class="col-1 align-self-center text-end">
                    <form action="./cargarTabla">
                        <input type="image" class="btn btn-primary" src="/static/svg/icons8-actualizar-30.png"
                            value="Agregar">
                    </form>
                </div>
                <div class="col-1 align-self-center text-end">
                    <form action="./Formulario">
                        {{ user_form.csrf_token }}
                        <input type="hidden" value="{{ csrf_token }})">
                        <input type="submit" class="btn btn-success" value="Agregar">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% from "_macros.html" import render_field %}
<div class="container text-center">
    <div class="row">
        <div class="col-12">
            <table class="table">
                <tr class="tr-head">
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Precio </th>
                    <th>Foto</th>
                    <th>Descripcion</th>
                    <th>Receta</th>
                    <th>Acciones</th>
                </tr>
                {% for i in range(aux) %}
                <tr class="tr-head">
                    <td>{{res[i]['nombre']}}</td>
                    <td>{{res[i]['cantidad']}}</td>
                    <td>{{res[i]['precio']}}</td>
                    <td>
                        <img src="data:mimetype;base64,{{res[i].imagen}}" width="100" height="auto" />
                    </td>
                    <td>{{res[i].descripccion}}</td>
                    <td>{{recetas[i]}}</td>
                    <td>
                        <div class="row">
                            <div class="col-4">
                                <form method="POST" action="./cargarActualizar">
                                    {{ user_form.csrf_token }}
                                    <input type="hidden" value="{{ csrf_token }})">
                                    <input type="hidden" value="{{res[i].id_producto}}" name="id">
                                    <input type="submit" class="btn btn-warning" value="Actualizar">
                                </form>
                            </div>

                            <div class="col-4">
                                <form method="POST" action="./eliminar">
                                    {{ user_form.csrf_token }}
                                    <input type="hidden" value="{{ csrf_token }})">
                                    <input type="hidden" value="{{res[i].id_producto}}" name="id">
                                    <input type="submit" class="btn btn-danger" value="Eliminar">
                                </form>
                            </div>

                            <div class="col-4">
                                <form method="POST" action="./preparar">
                                    {{ user_form.csrf_token }}
                                    <input type="hidden" value="{{ csrf_token }})">
                                    <input type="hidden" value="{{res[i].id_producto}}" name="id">
                                    <input type="submit" class="btn btn-primary" value="Hornear">
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}