{% extends "layout1.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <h1 class="text-center">Actualizar Proveedor</h1>
    </div>
</div>
<div class="column is-4 is-offset-4">
    <h3 class="title">Actualizar Producto</h3>
    <div class="box">
        <form method="POST" action="./actualizar">
            {{ user_form.csrf_token }}
            {% for i in res %}
            <div class="field">
                <div class="control">
                    <input value="{{i.id_proveedor}}"  type="hidden" name="id">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" value="{{i.nombre}}"  type="text" name="nombre" placeholder="nombre" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" value="{{i.calle}}" name="calle" type="text" placeholder="Calle" autofocus="">
                    
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" value="{{i.numero}}" name="numero" type="number" placeholder="Numero" autofocus="">
                    
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" value="{{i.cp}}" name="cp" type="number" placeholder="Codigo Postal" autofocus="">
                    
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" value="{{i.colonia}}" name="colonia" type="text" placeholder="colonia" autofocus="">
                    
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Actualizar</button>
            {% endfor%}
        </form>
    </div>
</div>
{% endblock %}