{% extends 'layout.html' %}

{% block content %}
{% from "_macros.html" import render_field %}
<div class="container-fluid divs">
    <div class="row">
        <div class="col-2">            
        </div>
        <div class="col-10">
            <form method="POST" action="./cargarTabla">
                {{ user_form.csrf_token }}
                <input type="hidden" value="{{ csrf_token }})">
                <div class="row">
                    <div class="col-10">
                        {{render_field(user_form.busqueda)}}
                    </div>
                    <div class="col-2">
                        {{render_field(user_form.submit)}}
                    </div>
                </div>
            </form>
            
        </div>
    
    </div>
    {% from "_macros.html" import render_field %}
<div class="container-fluid divs">
    <div class="row">
        <div class="col-2"></div>

        <div class="col-8">
            <table class="table">
                <tr class="tr-head">
                    <th>id_pedido</th>
                    <th>Fecha Compra</th>
                    <th>Costo</th>
                    <th>Cantidad</th>
                    <th>Proveedor</th>
                    <th>Ingrediente</th>
                    <th>Total Compra</th> 

                </tr>
                {% for i in range(aux) %}
                <tr class="tr-head">
                    
                    <td>{{res[i].id_pedido}}</td>
                    <td>{{res[i]['fecha_ingreso']}}</td>
                    <td>{{res[i]['costo']}}</td>
                    <td>{{res[i]['cantidad']}}</td>
                    <td>{{proveedores[i]}}</td>
                    <td>{{ingredientes[i]}}</td>
                    <td>{{res[i]['Total']}}</td>

                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>






{% endblock %}