{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center aligh-center">
            <font color="#FF6040">
                <br><br>
                <h1>Bienvenido</h1>
                <h1>a</h1>
                <img src="/static/img/CROWNCUPCAKE2.jpg" class="img-fluid" alt="" width="250" height="253">
                <br><br>
                <h4> donde encontraras el lugar más conveniente <br> para comprar panquecitos <br> de gran calidad, precio y sabor.</h4>
            </font>
        </div>
    </div>
</div>
{% endblock %}