{% extends "layout1.html" %}

{% block content %}
{% from "_macros.html" import render_field %}

<form class="form-horizontal" name="form1" action="" method="POST">
    {{ user_form.csrf_token }}
    <input type="hidden" value="{{ csrf_token }})">
    <div class="form-group row">
        <div class="col-sm-1-12">
            {{render_field(user_form.nombre)}}
            {{render_field(user_form.Cantidad)}}
            {{render_field(user_form.unidad)}}
            {{render_field(user_form.cubierta)}}
            {{render_field(user_form.proveedor)}}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-1-12">
            {{render_field(user_form.submit)}}   
        </div>
    </div>
    
</form>

{% endblock %}