{% extends "layout1.html" %}

{% block content %}
{% from "_macros.html" import render_field %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Actualziar Producto</h3>
    <div class="box">
        <form method="POST" action="./actualizar" enctype="multipart/form-data">
            {{ user_form.csrf_token }}
            {% for i in res %}
            <img src="data:mimetype;base64,{{i.imagen}}" width="100" height="auto" alt="Imagen Producto"/>
            <div class="field">
                <div class="control">
                    <input value="{{i.id_producto}}"  type="hidden" name="id">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" value="{{i.nombre}}"  type="text" name="nombre" placeholder="nombre" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" value="{{i.cantidad}}" name="cantidad" type="float" placeholder="Calle" autofocus="">
                    
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" value="{{i.precio}}" name="precio" type="float" placeholder="Calle" autofocus="">
                    
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" value="{{i.descripccion}}" name="descripcion" type="float" placeholder="Calle" autofocus="">
                    
                </div>
            </div>


            {{render_field(user_form.receta)}}


            <div class="field">
                <div class="control">
                    <input class="input is-large" type="file" name="img" placeholder="Imagen">
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Actualizar</button>
            {% endfor%}
        </form>
    </div>
</div>
{% endblock %}